name: frejus21
channels:
  - defaults
  - conda-forge
dependencies:
  - python=3.8
  - numpy
  - scikit-learn
  - matplotlib
  - pandas
  - seaborn
  - jupyter
  - ipympl
  - scipy
  - joblib
  - scikit-image
  - tqdm
prefix: /home/dejan/anaconda3/envs/frejus21
